[package]
name = "cudarc"
version = "0.7.2"
edition = "2021"
license = "MIT OR Apache-2.0"

description = "Safe wrappers around CUDA apis"
homepage = "https://github.com/coreylowman/cudarc"
documentation = "https://docs.rs/cudarc"
repository = "https://github.com/coreylowman/cudarc"
readme = "README.md"

keywords = [
    "cuda",
    "nvidia",
    "gpu",
    "nvrtc",
    "curand",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "std", "f16" ]
f16 = [ "half" ]
std = [ "no-std-compat/std"]
ci-check = []

[dependencies]
spin = { version = "0.9.4", features = ["rwlock"], default-features = false }
no-std-compat = { version = "0.4.1", features = [ "alloc" ] }
half = { version = "2.2.1", optional = true, default-features = false, features = [] }

[build-dependencies]
find_cuda_helper = "0.2.0"
